<%= form_with(model: oscar_female_winner, local: true) do |form| %>
  <% if oscar_female_winner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oscar_female_winner.errors.count, "error") %> prohibited this oscar_female_winner from being saved:</h2>

      <ul>
      <% oscar_female_winner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :oscar_female_winner_year %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :oscar_female_winner_age %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :oscar_female_winner_name %>
  </div>

  <div class="field">
    <%= form.label :movie %>
    <%= form.text_field :movie, id: :oscar_female_winner_movie %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
